<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
  <add name="BoletosConn" connectionString="Data Source=DESKTOP-ORF3C0U\SQLEXPRESS;Initial Catalog=TCParcialBoleto;Integrated Security=True" />
 </connectionStrings>
 <appSettings>
		<add key="backend" value="SqlServer"/>
	</appSettings>
</configuration>